body {
  margin-top: 170px;
}

.form-control::placeholder {
  color: white;
}

#textarea {
  resize: none; 
  background-color: $green; 
  border: none;
}

.card {
  max-width: 340px;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  max-height: 300px;
  max-width: 300px;
}

.fa-solid .fa-plus {
  font-size: 30px;
}

.msg-img {
  max-width: 80px;
}

// .carousel-control-next-icon {
//   background-color: black;
//   justify-content: flex-start;
// }