@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

h1,
h2,
h3 {
  font-family: 'Koulen', cursive;
  letter-spacing: 4px;
}

h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin-top: 190px;
}

//Write New Message:
.fa-user-plus {
  font-size: 100px;
}

.form-control::placeholder {
  color: white;
}

#textarea {
  resize: none; 
  background-color: $green; 
  border: none;
}

//Latest uploads:
.card {
  max-width: 240px;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  max-height: 300px;
  max-width: 300px;
}

.fa-solid .fa-plus {
  font-size: 30px;
}

.msg-img {
  max-width: 80px;
}

//New Messages:
.new-message img {
  max-width: 150px;
}