
.navbar-brand img {
  width: 150px;
}

.navbar-collapse {
  margin-left: 11rem;
}

.logo-text {
  font-family: 'Monoton', cursive;
}

.nav-link {
  font-family: 'Koulen', cursive;
  letter-spacing: 2px;
}

.nav-item {
  margin-right: 3rem;
}

