
//profile-section
.profile img {
  max-width: 300px;
}

.about i {
  color: $black;
}

//Wall Post-section
.wall-post img {
  max-width: 180px;
}

//friends-section
.friends img {
  max-width: 200px;
}

.friends a {
  color: $blue;
}

//recent posts-section
.recents-img-box-left {
  transform: translateX(-50%);
}

.recents-img-box-right {
  transform: translateX(50%);
}

.recents img {
  max-width: 200px;
}

.recents-text-left {
  transform: translateX(-10%);
}

.recents-text-right {
  transform: translateX(10%);
}