

// scss-docs-start color-variables
$blue:    #31fd0d;
$indigo:  #b491ee;
$purple:  #ac8ce7;
$pink:    #ea91bd;
$red:     #f198a1;
$orange:  #f3bc8e;
$yellow:  #fde497;
$green:   #70a78e;
$teal:    #0f1a16;
$cyan:    #223134;
// scss-docs-end color-variables